h2 {
    font-size: 46px;
    margin: 10px 0;
    color: #56534c;
    font-family: 'Noto Serif', serif;
}

h3 {
    font-size: 16px;
    color: #a47d5e;
    text-transform: uppercase;
    font-family: 'PT Serif', serif;
    letter-spacing: 1px;
}