@mixin flex($direction, $wrapping, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrapping;
    justify-content: $justify;
    align-items: $align;
}

* {
    box-sizing: border-box;
    position: relative;
}

html,
body {
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
}

.container {
    height: inherit;
    width: inherit;
    @include flex(column, nowrap, center, center);
}

// Header
// 
header {
    width: inherit;
    height: 570px;
    background-image: url('../img/bg1.jpg');
    background-size: cover;
    background-position: center;
    text-align: center; // &:after {
    //     content: '';
    //     display: block;
    //     position: absolute;
    //     background-image: url('../img/after.png');
    //     width: 100%;
    //     height: 100px;
    //     background-position: center;
    //     background-size: contain;
    //     bottom: -56px;
    //     z-index: 1;
    // }
}

.bakery-label {
    display: block;
    position: absolute; // background-image: url('../img/after.png');
    width: 100%;
    height: 100px;
    background-position: center;
    background-size: contain;
    bottom: -56px;
    z-index: 1;
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 9px;
        box-shadow: inset 0px 10px 10px -10px #56534c;
        border-top: 9px solid #fff;
        background-image: url('../img/bg1.jpg');
        background-size: cover;
        background-position: center;
    }
}

.header-title {
    top: 100px;
    font-size: 90px;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

nav {
    width: 100%;
    margin: 0 auto;
    @include flex(row,
    nowrap,
    space-around,
    baseline);
    color: #fff;
    background-color: rgba(86, 83, 76, .53);
    font-size: 14px;
}

.nav {
    width: 100%;
    max-width: 1280px;
    @include flex(row,
    nowrap,
    space-around,
    center);
    &-menu {
        width: calc(100%/2);
    }
    &-socials,
    &-logo {
        width: calc(100%/4);
    }
    &-list {
        @include flex(row,
        nowrap,
        space-around,
        baseline);
    }
    .social-list {
        justify-content: center;
        li {
            margin: 0 10px;
        }
    }
    .social {
        display: block;
        background-size: 100%;
        background-position: center;
        width: 20px;
        height: 20px;
    }
    .fb {
        background-image: url("../img/facebook32.png");
    }
    .google {
        background-image: url("../img/googleplus32.png");
    }
    .inst {
        background-image: url("../img/instagram32.png");
    }
}

// About
// 
.about {
    background-image: url("../img/texture.jpg");
    background-size: 100%;
    width: 100%;
    padding: 80px 0;
    color: #56534c;
    font-family: 'Noto Serif', serif;
    @include flex(row,
    nowrap,
    space-around,
    baseline);
    &-wrapper {
        width: 100%;
        max-width: 1280px;
        @include flex(row,
        nowrap,
        space-around,
        center);
    }
    &-info,
    &-image {
        width: 50%;
        @include flex(column,
        nowrap,
        space-around,
        center);
    }
    &-info {
        padding: 0 50px;
    }
    &-headers {
        text-align: center;
        &-title {
            font-size: 46px;
            margin: 10px 0;
            font-stretch: normal;
        }
        &-subtitle {
            font-size: 16px;
            color: #a47d5e;
            text-transform: uppercase;
            font-family: 'PT Serif', serif;
            letter-spacing: 1px;
        }
    }
    &-text {
        font-size: 15px;
        padding-top: 60px;
        padding-bottom: 40px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 2px;
        line-height: 25px;
        text-align: center;
    }
    &-chef {
        text-align: center;
        &-title,
        &-name {
            font-size: 24px;
        }
        &-title {
            padding-bottom: 35px;
        }
        &-name {
            font-family: 'Playfair Display', serif;
            @include flex(row,
            nowrap,
            space-around,
            center);
            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: #000;
                margin: 0 35px;
            }
            span {
                width: 110px;
                padding: 15px 0;
                border-top: 1px solid #d7d5ca;
                border-bottom: 1px solid #d7d5ca;
            }
        }
    }
    &-image {
        @include flex(row,
        wrap,
        space-around,
        center);
        img {
            width: 290px;
            height: 245px;
            background-color: #000;
            margin: 15px;
            &:after {
                content: '';
                position: absolute;
                top: 9px;
                left: 9px;
                width: calc(100% - 18px);
                height: calc(100% - 18px);
                background-color: transparent;
                border: 4px solid #fff;
            }
        }
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            background-image: url('../img/center-label.png');
            background-position: center;
            background-repeat: no-repeat;
            opacity: .97;
        }
    }
}

// Products
// 
.products {
    @include flex(row,
    nowrap,
    space-around,
    center);
}

// Cakes
// 
.cakes {
    &-wrapper {
        padding: 80px 0;        
    }
    &-headers {
        text-align: center;
        &-title {
            font-size: 46px;
            margin: 10px 0;
            font-stretch: normal;
            color: #56534c; 
        }
        &-subtitle {
            font-size: 16px;
            color: #a47d5e;
            text-transform: uppercase;
            font-family: 'PT Serif', serif;
            letter-spacing: 1px;
        }
    }
    &-text {
        font-size: 15px;
        padding-top: 60px;
        padding-bottom: 40px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 2px;
        line-height: 25px;
        text-align: center;
    }
}

// Nostate, Nomatch
// 
.nostate,
.nomatch {
    width: 100%;
    font-size: 50px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}