@mixin flex($direction, $wrapping, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrapping;
    justify-content: $justify;
    align-items: $align;
}

* {
    box-sizing: border-box;
    position: relative;
}

html,
body {
    width: 100%;
    height: 100%;
}

#app {
    width: 100%;
}

.container {
    height: inherit;
    width: inherit;
    @include flex(column, nowrap, center, center);
}

// Header
// 
header {
    width: inherit;
    height: 570px;
    background-image: url('../img/bg1.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
}

.bakery-label {
    display: block;
    position: relative;
    width: 100%;
    height: 15px;
    background-position: center;
    background-size: contain;
    bottom: 0;
    margin-bottom: -10px;
    z-index: 3;
    box-shadow: inset 0px 10px 10px -10px #56534c;
    border-top: 9px solid #fff;
    &:after {
        content: '';
        display: block;
        position: absolute;
        top: -50%;
        transform: translateY(-50%);
        z-index: 3;
        width: 100%;
        height: 100px;
        background-image: url('../img/after.png');
        background-size: contain;
        background-position: center;
    }
}

.header-title {
    top: 100px;
    font-size: 90px;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

nav {
    width: 100%;
    margin: 0 auto;
    @include flex(row,
    nowrap,
    space-around,
    baseline);
    color: #fff;
    background-color: rgba(86, 83, 76, .53);
    font-size: 14px;
}

.nav {
    width: 100%;
    max-width: 1280px;
    @include flex(row,
    nowrap,
    space-around,
    center);
    &-menu {
        width: calc(100%/2);
    }
    &-socials,
    &-logo {
        width: calc(100%/4);
    }
    &-list {
        @include flex(row,
        nowrap,
        space-around,
        baseline);
    }
    .social-list {
        justify-content: center;
        li {
            margin: 0 10px;
        }
    }
    .social {
        display: block;
        background-size: 100%;
        background-position: center;
        width: 20px;
        height: 20px;
    }
    .fb {
        background-image: url("../img/facebook32.png");
    }
    .google {
        background-image: url("../img/googleplus32.png");
    }
    .inst {
        background-image: url("../img/instagram32.png");
    }
}

// About
// 
.about {
    background-image: url("../img/texture.jpg");
    background-size: 100%;
    width: 100%;
    padding: 100px 0;
    color: #56534c;
    font-family: 'Noto Serif', serif;
    @include flex(row,
    nowrap,
    space-around,
    baseline);
    &-wrapper {
        width: 100%;
        max-width: 1280px;
        @include flex(row,
        nowrap,
        space-around,
        center);
    }
    &-info,
    &-image {
        width: 50%;
        @include flex(column,
        nowrap,
        space-around,
        center);
    }
    &-info {
        padding: 0 50px;
    }
    &-headers {
        text-align: center;
        &-title {
            font-size: 46px;
            margin: 10px 0;
            font-stretch: normal;
        }
        &-subtitle {
            font-size: 16px;
            color: #a47d5e;
            text-transform: uppercase;
            font-family: 'PT Serif', serif;
            letter-spacing: 1px;
        }
    }
    &-text {
        font-size: 15px;
        padding-top: 60px;
        padding-bottom: 40px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 2px;
        line-height: 25px;
        text-align: center;
    }
    &-chef {
        text-align: center;
        &-title,
        &-name {
            font-size: 24px;
        }
        &-title {
            padding-bottom: 35px;
        }
        &-name {
            font-family: 'Playfair Display', serif;
            @include flex(row,
            nowrap,
            space-around,
            center);
            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: #000;
                margin: 0 35px;
            }
            span {
                width: 110px;
                padding: 15px 0;
                border-top: 1px solid #d7d5ca;
                border-bottom: 1px solid #d7d5ca;
            }
        }
    }
    &-image {
        @include flex(row,
        wrap,
        space-around,
        center);
        &-item {
            width: 290px;
            height: 245px;
            background-image: url('../img/cakes.jpg');
            background-size: cover;
            background-position: right top;
            margin: 15px;
            &:after {
                content: '';
                position: absolute;
                top: 9px;
                left: 9px;
                width: calc(100% - 18px);
                height: calc(100% - 18px);
                background-color: transparent;
                border: 4px solid #fff;
            }
        }
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            background-image: url('../img/center-label.png');
            background-position: center;
            background-repeat: no-repeat;
            opacity: .97;
        }
    }
}

// Products
// 
.products {
    width: 100%;
}

// Cakes
// 
.cakes {
    background-image: url('../img/cakes-bg2.jpg');
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;
    width: 100%;
    padding: 150px 0;
    transition: .1s linear;
    &-wrapper {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        background-color: #fff;
        @include flex(row,
        nowrap,
        space-around,
        center);
        &:after {
            content: '';
            position: absolute;
            top: -40px;
            right: -70px;
            width: 170px;
            height: 170px;
            background-image: url('../img/star.png');
            background-position: center;
            background-repeat: no-repeat;
            background-color: #fff;
            box-shadow: -5px 5px 33px -14px black;
        }
    }
    &-image {
        width: 45%;
        min-height: 500px;
        background-image: url('../img/cakes.jpg');
        background-size: cover;
        background-position: 90% top;
    }
    &-info {
        width: 55%;
        padding: 30px 50px;
        text-align: left;
    }
    &-headers {
        text-align: center;
        &-title {
            font-size: 46px;
            margin: 10px 0;
            font-stretch: normal;
            color: #56534c;
        }
        &-subtitle {
            font-size: 16px;
            color: #a47d5e;
            text-transform: uppercase;
            font-family: 'PT Serif', serif;
            letter-spacing: 1px;
        }
    }
    &-text {
        font-size: 15px;
        padding-top: 60px;
        padding-bottom: 90px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 2px;
        line-height: 25px;
    }
    &-slider {
        width: 100%;
        padding: 0 20px;
        &-wrapper {
            @include flex(row,
            nowrap,
            space-around,
            center);
        }
        &-item {
            background-image: url('../img/cakes.jpg');
            background-size: cover;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            &:hover {
                box-shadow: -5px 5px 13px 4px #a47d5e;
            }
        }
    }
}

// Cupcakes
// 
.cupcakes {
    background-image: url('../img/cupcakes-bg.jpg');
    background-position: center top;
    background-repeat: repeat;
    width: 100%;
    padding: 150px 0;
    transition: .1s linear;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.63);
    }
    &-wrapper {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        @include flex(column,
        nowrap,
        space-around,
        center);
        z-index: 1;
    }
    &-image {
        width: 100%;
        @include flex(row,
        nowrap,
        space-between,
        center);
        img {
            width: calc(95%/3);
        }
    }
    &-info {
        width: 100%;
        padding: 30px 50px;
        text-align: center;
        background-image: url('../img/texture.jpg');
        background-size: 100% auto;
        background-repeat: no-repeat;
        margin-bottom: 20px;
        box-shadow: 0 3px 23px 2px rgba(86, 83, 76, 0.53);
    }
    &-headers {
        text-align: center;
        &-title {
            font-size: 46px;
            margin: 10px 0;
            font-stretch: normal;
            color: #56534c;
        }
        &-subtitle {
            font-size: 16px;
            color: #a47d5e;
            text-transform: uppercase;
            font-family: 'PT Serif', serif;
            letter-spacing: 1px;
        }
    }
    &-text {
        font-size: 15px;
        padding-top: 60px;
        padding-bottom: 90px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 2px;
        line-height: 25px;
    }
    &-slider {
        width: 100%;
        padding: 0 20px;
        &-wrapper {
            @include flex(row,
            nowrap,
            space-around,
            center);
        }
        &-item {
            background-image: url('../img/cakes.jpg');
            background-size: cover;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            &:hover {
                box-shadow: -5px 5px 13px 4px #a47d5e;
            }
        }
    }
}

// Table
// 
.table {
    background-image: url('../img/table.jpg');
    background-position: center top;
    background-repeat: repeat;
    background-size: 65%;
    width: 100%;
    padding: 140px 0;
    transition: .1s linear;
    &-wrapper {
        width: 80%;
        margin: 0 auto;
        overflow-x: hidden;
        @include flex(column,
        nowrap,
        space-around,
        center);
    }
    &-gallery {
        width: 3130px;
    }
    &-image {
        padding: 0 20px;
        display: inline-block;
        img {
            width: 350px;
            display: block;
        }
    }
}

// Arrow
// 
.arrow {
    width: 100%;
    height: 100%;
    max-width: 70px;
    max-height: 70px;
    background-image: url('../img/next-arrow.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    &.right {
        right: 70px;
    }
    &.left {
        left: 70px;
        transform:translateY(-50%) rotate(180deg);
    }
}

// Nostate, Nomatch
// 
.nostate,
.nomatch {
    width: 100%;
    font-size: 50px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}