@mixin flex($direction, $wrapping, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrapping;
    justify-content: $justify;
    align-items: $align;
}

* {
    box-sizing: border-box;
    position: relative;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
}

.container {
    height: inherit;
    width: inherit;
    @include flex(column, nowrap, center, center);
}

header {
    width: inherit;
    height: inherit;
    background-image: url('../img/bg1.jpg');
    background-size: cover;
    background-position: center;
}

.nostate,
.nomatch {
    width: 100%;
    font-size: 50px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}