.divider {
    -webkit-appearance: none;
    z-index: 1;
    margin: 0 auto;
    outline-style: none;
    text-align: center;
    min-height: 3px;
    overflow: hidden;
    &:before {
        @extend %after-before;
        z-index: -1;
        width: 100%;
        left: 0;
        top: 50%;
        margin-top: -1.5px;
        border-bottom: 3px solid;
        border-color: $divider-color;
    }
    img {
        margin: auto;
        padding: 0 20px;
        background: $default-color;
    }
    &.line,
    &.crossline {
        img {
            width: 105px;
        }
    }
    &.spiral {
        img {
            width: 80px;
        }
    }
    &.title {
        img {
            width: 225px;
            background-color: transparent;
        }
        &:before {
            @extend %after-before;
            border: 0;
        }
    }
}