// Roboto
@import url('https://fonts.googleapis.com/css?family=Roboto');

// Orator STD (Adobe font)
@font-face {
    font-family: 'OratorStd';
    src: url('../fonts/OratorStd.eot');
    src: url('../fonts/OratorStd.woff') format('woff'), url('../fonts/OratorStd.ttf') format('truetype'), url('../fonts/OratorStd.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}