.portfolio {
    &-wrapper {
        @extend .wrapper;
        text-align: center;
        @include flex(row, wrap, center, center)
    }
    &-item {
        width: 20%;
        img {
            width: 100%;
        }
        svg {
            fill: rgba(247, 173, 180, .7);
        }
        &-info {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
}