.recipe {
    background-color: #fff;
    margin-top: -80px;
    &-wrapper {
        text-align: center;
        padding: 110px 0 130px;
        background-image: url('../images/backgrounds/asset41.jpeg');
        background-size: cover;
        background-position: center;
        h2 {
            font-size: 48px;
            font-family: $primary-bold-font;
            font-weight: normal;
            margin-bottom: 30px;
        }
    }
    &-grid {
        @extend .wrapper;
        @include flex(row, wrap, center, center);
    }
    &-item {
        &-image {
            img {
                width: 100%;
            }
        }
    }
}