h2 {
    font-size: 48px;
    font-family: $primary-bold-font;
    font-weight: normal;
    margin-bottom: 30px;
}

h3 {
    font-family: $primary-font;
    font-size: 30px;
    font-weight: normal;
}

h4 {
    margin: 10px 0;
    font-size: 30px;
    font-family: $primary-font;
    color: $default-color;
    font-weight: 100;
}