// Fonts
$primary-font: 'Merienda One';
$primary-bold-font: 'Merienda One Bold';
$secondary-font: 'ABeeZee', sans-serif;
$tertiary-font: 'Leckerli One', cursive;
$primary-fs: 16px;
$secondary-fs: 30px;

// Colors
$default-color: #fff;
$divider-color: #edecec;
$primary-color: #4b4342;
$secondary-color: #5fcac7;
$tertiary-color: #ff91a4;
$warning-color: #ffc000;
$info-color: #41b6e2;
$confirm-color: #46cf93;
$error-color: #ff5555;